@use '../settings' as *;

// ========================================
// Text Utilities
// ========================================

@forward '../../../node_modules/mbmcss/utils-text/utilities.text' with (
	$utils-text-namespace: "text-",

	$utils-text-properties: (
		left: left,
		center: center,
		right: right,
	),

	$utils-text-res: $global-responsive-classes,
	$utils-text-breakpoints: $global-breakpoints,
);
